@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

.bodyIndex {
  background-color: yellow;
  background-image: url("../imagenes/fondo3.png");
  background-size: 1920px;
  background-repeat: no-repeat;
}

.bodyIndex nav {
  width: 100%;
}

.bodyIndex nav .navbar-brand img {
  width: 15rem;
}

.bodyIndex nav .logoHamburguesa {
  width: 2.2rem;
}

.bodyIndex nav .menuSelec {
  background-color: #D9D9D9;
  color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bodyIndex nav li {
  margin: 1.4rem;
}

.bodyIndex nav li a {
  color: black;
  font-size: 2rem;
  padding: 0.5rem;
}

.bodyIndex nav li #nav__link:hover {
  background-color: yellow;
  color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bodyIndex .seccion__principalIndex {
  margin-left: 5%;
}

.bodyIndex .seccion__principalIndex h1 {
  color: white;
  background-color: black;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  margin: 8rem auto auto 3rem;
  font-weight: 700;
  font-size: 6rem;
}

.bodyIndex .seccion__principalIndex h2 {
  color: white;
  background-color: black;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  margin: 0 auto auto 3rem;
  font-size: 4rem;
}

.bodyIndex footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2rem;
  color: black;
  text-align: center;
  margin: 3rem auto;
  font-size: 1.3rem;
}

.bodyAbout {
  background-color: #ff57b1;
  background-image: url("../imagenes/fondo0.png");
  background-size: 1920px;
  background-repeat: no-repeat;
}

.bodyAbout nav {
  width: 100%;
}

.bodyAbout nav .navbar-brand img {
  width: 15rem;
}

.bodyAbout nav .logoHamburguesa {
  width: 2.2rem;
}

.bodyAbout nav .menuSelec {
  background-color: #ff57b1;
  color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bodyAbout nav li {
  margin: 1.4rem;
}

.bodyAbout nav li a {
  color: black;
  font-size: 2rem;
  padding: 0.5rem;
}

.bodyAbout nav li #nav__link:hover {
  background-color: #ff57b1;
  color: white;
}

.bodyAbout .seccion__principalAbout {
  margin-left: 5%;
  margin-bottom: 3rem;
}

.bodyAbout .seccion__principalAbout h1 {
  color: white;
  background-color: black;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  margin: 8rem auto auto 3rem;
  font-weight: 700;
  font-size: 6rem;
}

.bodyAbout .seccion__principalAbout h2 {
  color: white;
  background-color: black;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  margin: 0 auto 3rem 3rem;
  font-size: 4rem;
}

.bodyAbout .proyecto__texto {
  font-size: 1.5rem;
  padding: 10%;
}

.bodyAbout footer {
  width: 100%;
  height: 2rem;
  color: black;
  text-align: center;
  margin: 3rem auto;
  font-size: 1.3rem;
}

.bodyDesign {
  background-color: #D9D9D9;
  background-image: url("../imagenes/fondo7.png");
  background-size: 1920px;
  background-repeat: no-repeat;
}

.bodyDesign nav {
  width: 100%;
}

.bodyDesign nav .navbar-brand img {
  width: 15rem;
}

.bodyDesign nav .logoHamburguesa {
  width: 2.2rem;
}

.bodyDesign nav .menuSelec {
  background-color: #D9D9D9;
  color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bodyDesign nav li {
  margin: 1.4rem;
}

.bodyDesign nav li a {
  color: black;
  font-size: 2rem;
  padding: 0.5rem;
}

.bodyDesign nav li #nav__link:hover {
  background-color: #D9D9D9;
  color: white;
}

.bodyDesign .seccion__principalDesign {
  margin-left: 5%;
}

.bodyDesign .seccion__principalDesign h2 {
  color: white;
  background-color: black;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  margin: 8rem auto;
  font-size: 4rem;
}

.bodyDesign .carousel-control-next,
.bodyDesign .carousel-control-prev {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.bodyDesign footer {
  width: 100%;
  height: 2rem;
  color: black;
  text-align: center;
  margin: 3rem auto;
  font-size: 1.3rem;
}

.bodyContact {
  background-color: #d6d6fc;
  background-image: url("../imagenes/fondo8.png");
  background-size: 1920px;
  background-repeat: no-repeat;
}

.bodyContact nav {
  width: 100%;
}

.bodyContact nav .navbar-brand img {
  width: 15rem;
}

.bodyContact nav .logoHamburguesa {
  width: 2.2rem;
}

.bodyContact nav .menuSelec {
  background-color: #d6d6fc;
  color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bodyContact nav li {
  margin: 1.4rem;
}

.bodyContact nav li a {
  color: black;
  font-size: 2rem;
  padding: 0.5rem;
}

.bodyContact nav li #nav__link:hover {
  background-color: #d6d6fc;
  color: white;
}

.bodyContact .titulo {
  color: white;
  background-color: black;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  margin: 8rem auto auto 3rem;
  font-weight: 700;
  font-size: 6rem;
}

.bodyContact .seccion__secundariaContact {
  background-color: black;
  height: auto;
  padding: 2rem;
  text-align: left;
  margin-top: 8rem;
  margin-left: 25%;
  margin-right: 25%;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  line-height: 25px;
}

.bodyContact .seccion__secundariaContact .formulario {
  font-size: 1.5rem;
}

.bodyContact .seccion__secundariaContact .boton__formulario {
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
}

.bodyContact .redes a img {
  margin-top: 3.5rem;
  width: 5rem;
  height: 4rem;
}

.bodyContact .redes a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.bodyContact footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2rem;
  color: black;
  text-align: center;
  margin: 3rem auto;
  font-size: 1.3rem;
}

.bodyArtworks {
  background-color: #c2e3ee;
  background-image: url("../imagenes/fondo4.png");
  background-size: 1920px;
  background-repeat: no-repeat;
}

.bodyArtworks nav {
  width: 100%;
}

.bodyArtworks nav .navbar-brand img {
  width: 15rem;
}

.bodyArtworks nav .logoHamburguesa {
  width: 2.2rem;
}

.bodyArtworks nav .menuSelec {
  background-color: #c2e3ee;
  color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bodyArtworks nav li {
  margin: 1.4rem;
}

.bodyArtworks nav li a {
  color: black;
  font-size: 2rem;
  padding: 0.5rem;
}

.bodyArtworks nav li #nav__link:hover {
  background-color: #c2e3ee;
  color: white;
}

.bodyArtworks .seccion__principalArtworks {
  margin-left: 5%;
}

.bodyArtworks .seccion__principalArtworks h2 {
  color: white;
  background-color: black;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  margin: 8rem auto;
  font-size: 4rem;
}

.bodyArtworks .carousel-control-next,
.bodyArtworks .carousel-control-prev {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.bodyArtworks footer {
  width: 100%;
  height: 2rem;
  color: black;
  text-align: center;
  margin: 3rem auto;
  font-size: 1.3rem;
}

@media only screen and (max-width: 992px) {
  .bodyIndex .seccion__principalIndex h1 {
    font-size: 3rem;
  }
  .bodyIndex nav li #nav__link:hover {
    background-color: black;
    color: white;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .bodyAbout .seccion__principalAbout h1 {
    font-size: 3rem;
  }
  .bodyAbout nav li #nav__link:hover {
    background-color: black;
    color: white;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .bodyArtworks .seccion__principalArtworks h2 {
    font-size: 3rem;
  }
  .bodyArtworks nav li #nav__link:hover {
    background-color: black;
    color: white;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .bodyArtworks footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2rem;
    color: black;
    text-align: center;
    margin: 3rem auto;
    font-size: 1.3rem;
  }
  .bodyDesign .seccion__principalDesign h2 {
    font-size: 3rem;
  }
  .bodyDesign nav li #nav__link:hover {
    background-color: black;
    color: white;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .bodyDesign footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2rem;
    color: black;
    text-align: center;
    margin: 3rem auto;
    font-size: 1.3rem;
  }
  .bodyContact .seccion__principalContact h1 {
    font-size: 3rem;
  }
  .bodyContact nav li #nav__link:hover {
    background-color: black;
    color: white;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .bodyContact .seccion__secundariaContact {
    font-size: 1.5rem;
    margin-left: 10%;
    margin-right: 10%;
  }
}
/*# sourceMappingURL=styles.css.map */