@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* por defecto es 100%, 62,5% cambia la base de 16p a 10p */
  font-family: 'Montserrat', sans-serif;
}

.bodyIndex {
  background-color: yellow;
  background-image: url("../imagenes/fondo3.png");
  background-size: 1920px;
  background-repeat: no-repeat;
}

.bodyIndex nav {
  width: 100%;
}

.bodyIndex nav .navbar-brand img {
  width: 15rem;
}

.bodyIndex nav .menuSelec {
  background-color: #D9D9D9;
  color: black;
}

.bodyIndex nav li {
  margin: 1.4rem;
}

.bodyIndex nav li a {
  color: #000000;
  font-size: 2rem;
  padding: 0.5rem;
}

.bodyIndex nav li:hover {
  background-color: yellow;
}

.bodyIndex .seccion__principalIndex {
  margin-left: 5%;
}

.bodyIndex .seccion__principalIndex h1 {
  color: white;
  background-color: #000000;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  margin: 8rem auto auto 3rem;
  font-weight: 700;
  font-size: 6rem;
}

.bodyIndex .seccion__principalIndex h2 {
  color: white;
  background-color: #000000;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  margin: 0 auto auto 3rem;
  font-size: 4rem;
}

.bodyIndex footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #000000;
  text-align: center;
  margin: 3rem auto;
  font-size: 1.3rem;
}

.bodyAbout {
  background-color: deeppink;
  background-image: url("../imagenes/fondo0.png");
  background-size: 1920px;
  background-repeat: no-repeat;
}

.bodyAbout nav {
  width: 100%;
}

.bodyAbout nav .navbar-brand img {
  width: 15rem;
}

.bodyAbout nav .menuSelec {
  background-color: deeppink;
  color: black;
}

.bodyAbout nav li {
  margin: 1.4rem;
}

.bodyAbout nav li a {
  color: #000000;
  font-size: 2rem;
  padding: 0.5rem;
}

.bodyAbout nav li:hover {
  background-color: deeppink;
}

.bodyAbout .seccion__principalAbout {
  margin-left: 5%;
  margin-bottom: 3rem;
}

.bodyAbout .seccion__principalAbout h1 {
  color: white;
  background-color: #000000;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  margin: 8rem auto auto 3rem;
  font-weight: 700;
  font-size: 6rem;
}

.bodyAbout .seccion__principalAbout h2 {
  color: white;
  background-color: #000000;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  margin: 0 auto 3rem 3rem;
  font-size: 4rem;
}

.bodyAbout footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #000000;
  text-align: center;
  margin: 3rem auto;
}

.bodyEjercicio {
  background-color: #BF786F;
}

.bodyEjercicio h3 {
  color: #D9D9D9;
  font-size: 2rem;
}

.bodyEjercicio .boxModeling {
  background-color: #D9D9D9;
  height: 13rem;
  width: 70rem;
  padding: 2rem;
  text-align: center;
  margin-top: 5rem;
  margin-left: 3rem;
  margin-bottom: 5rem;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 25px;
}

.bodyEjercicio .flexboxSab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bodyEjercicio .flexboxSab .sab1 img {
  height: 33vh;
}

.bodyEjercicio .flexboxSab .sab2 img {
  height: 33vh;
}

.bodyEjercicio .flexboxSab .sab3 img {
  height: 33vh;
}

.bodyEjercicio .grid {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 40% 20% 40%;
      grid-template-columns: 40% 20% 40%;
  -ms-grid-rows: 50rem 50rem;
      grid-template-rows: 50rem 50rem;
  gap: 1rem;
      grid-template-areas: "rectUno rectUno cuadUno" "cuadDos rectDos rectDos";
}

.bodyEjercicio .grid .fotoUno {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: cuadUno;
}

.bodyEjercicio .grid .fotoDos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cuadDos;
}

.bodyEjercicio .grid .fotoTres {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: rectUno;
}

.bodyEjercicio .grid .fotoCuatro {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: rectDos;
}

.bodyEjercicio .grid div img {
  height: 100%;
  width: 100%;
}

.bodyEjercicio .footerEjercicio {
  margin: 3rem;
  font-size: 1rem;
  background-color: #BF786F;
}

.bodyDesign {
  background-color: #D9D9D9;
  background-image: url("../imagenes/fondo7.png");
  background-size: 1920px;
  background-repeat: no-repeat;
}

.bodyDesign nav {
  width: 100%;
}

.bodyDesign nav .navbar-brand img {
  width: 15rem;
}

.bodyDesign nav .menuSelec {
  background-color: #D9D9D9;
  color: black;
}

.bodyDesign nav li {
  margin: 1.4rem;
}

.bodyDesign nav li a {
  color: #000000;
  font-size: 2rem;
  padding: 0.5rem;
}

.bodyDesign nav li:hover {
  background-color: #D9D9D9;
}

.seccion__principalDesign {
  margin-left: 5%;
}

.seccion__principalDesign h2 {
  color: #000000;
  background-color: #D9D9D9;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  margin: 8rem auto;
  font-size: 4rem;
}

.seccion__principalDesign .seccion__secundariaDesign {
  text-align: center;
  margin-top: 10%;
}

.bodyContact {
  background-color: lavender;
  background-image: url("../imagenes/fondo8.png");
  background-size: 1920px;
  background-repeat: no-repeat;
}

.bodyContact nav {
  width: 100%;
}

.bodyContact nav .navbar-brand img {
  width: 15rem;
}

.bodyContact nav .menuSelec {
  background-color: lavender;
  color: black;
}

.bodyContact nav li {
  margin: 1.4rem;
}

.bodyContact nav li a {
  color: #000000;
  font-size: 2rem;
  padding: 0.5rem;
}

.bodyContact nav li:hover {
  background-color: lavender;
}

.bodyContact .titulo {
  color: white;
  background-color: #000000;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  margin: 8rem auto auto 3rem;
  font-weight: 700;
  font-size: 6rem;
}

.bodyContact .seccion__secundariaContact {
  background-color: #000000;
  height: auto;
  width: 50%;
  padding: 2rem;
  text-align: left;
  margin: 8rem auto auto auto;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  line-height: 25px;
}

.bodyContact .seccion__secundariaContact .boton__formulario {
  text-align: center;
}

.bodyArtworks {
  background-color: lightblue;
  background-image: url("../imagenes/fondo4.png");
  background-size: 1920px;
  background-repeat: no-repeat;
}

.bodyArtworks nav {
  width: 100%;
}

.bodyArtworks nav .navbar-brand img {
  width: 15rem;
}

.bodyArtworks nav .menuSelec {
  background-color: lightblue;
  color: black;
}

.bodyArtworks nav li {
  margin: 1.4rem;
}

.bodyArtworks nav li a {
  color: #000000;
  font-size: 2rem;
  padding: 0.5rem;
}

.bodyArtworks nav li:hover {
  background-color: #e5f2f7;
}

.bodyArtworks .seccion__principalArtworks {
  margin-left: 5%;
}

.bodyArtworks .seccion__principalArtworks h2 {
  color: #000000;
  background-color: lightblue;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  margin: 8rem auto;
  font-size: 4rem;
}
/*# sourceMappingURL=styles.css.map */