.bodyAbout {
    background-color:  $rosa;
    @include fondo(0);
    nav {
        width: 100%;
        .navbar-brand img {
            width: 15rem;
        }
        .logoHamburguesa {
            width: 2.2rem;
        }
        .menuSelec {
            background-color:  $rosa;
            color: $negro;
            width: fit-content;
        }
        li {
            margin: 1.4rem;
            a {
                color: $negro;
                font-size: 2rem;
                padding: 0.5rem;
            }
            #nav__link:hover {
                background-color: $rosa;
                color: $blanco;
            }
        }
    }
    .seccion__principalAbout {
        margin-left: 5%;
        margin-bottom: 3rem;
        h1 {
            @include hi ($blanco, $negro)
        }
        h2 {
            color: $blanco;
            background-color: $negro;
            height: auto;
            width: fit-content;
            padding: 2rem;  
            margin: 0 auto 3rem 3rem; 
            font-size: $h2__xl;
        }
    }
    .proyecto__texto {
        font-size: 1.3rem;
    }

    footer {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2rem;
        color: $negro;
        text-align: center;
        margin: 3rem auto;
        font-size: 1.3rem;
    }
}

