.bodyAbout {
    background-color: deeppink;
    @include fondo(0);
    nav {
        .navbar-brand img {
            width: 15rem;
        }
        .menuSelec {
            background-color: deeppink;
            color: black;
        }
        li {
            margin: 1.4rem;
            a {
                color: $negro;
                font-size: 2rem;
                padding: 0.5rem;
            }
            &:hover {
                background-color:deeppink;
            }
        }
    }
    .seccion__principalAbout {
        margin-left: 5%;
        h1 {
            @include hi (white, $negro)
        }
        h2 {
            color: white;
            background-color: $negro;
            height: auto;
            width: fit-content;
            padding: 2rem;  
            margin: 0 auto 3rem 3rem; 
            font-size: $h2__xl;
        }
    }
    .seccion__secundariaAbout {
        background-color: $gris;
        height: auto;
        width: 50%;
        padding: 2rem;
        text-align: justify;
        margin: 3rem 3rem auto auto;
        color: hsl(0, 0%, 0%);
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 25px;
    }
    .seccion__secundariaAbout--dos {
        @extend .seccion__secundariaAbout;
        margin: 3rem auto 3rem 3rem;
    }
    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        color: $negro;
        text-align: center;
        margin: 3rem auto;
    }
}

