.bodyArtworks {
    background-color: lightblue;
    @include fondo(7);
    nav {
        .navbar-brand img {
            width: 15rem;
        }
        .menuSelec {
            background-color: lightblue;
            color: black;
        }
        li {
            margin: 1.4rem;
            a {
                color: $negro;
                font-size: 2rem;
                padding: 0.5rem;
            }
            &:hover {
                background-color: lightblue;
            }
        }
    }
.seccion__principalArtworks {
    margin-left: 5%;
    h2 {
        color: white;
        background-color:$negro;
        height: auto;
        width: fit-content;
        padding: 2rem;  
        margin: 15rem auto 3rem 3rem; 
        font-size: $h2__xl;
    }
}
.seccion__secundariaArtworks {
    text-align: center;
    margin-top: 10%;
} 
}