.bodyArtworks {
    background-color: $celeste;
    @include fondo(4);
    nav {
        width: 100%;
        .navbar-brand img {
            width: 15rem;
        }
        .logoHamburguesa {
            width: 2.2rem;
        }
        .menuSelec {
            background-color: $celeste;
            color: $negro;
            width: fit-content;
        }
        li {
            margin: 1.4rem;
            a {
                color: $negro;
                font-size: 2rem;
                padding: 0.5rem;
            }
            #nav__link:hover {
                background-color: $celeste;
                color: $blanco;
            }
        }
    }
.seccion__principalArtworks {
    margin-left: 5%;
    h2 {
        color: $blanco;
        background-color: $negro;
        height: auto;
        width: fit-content;
        padding: 2rem;  
        margin: 8rem auto; 
        font-size: $h2__xl;
        }
    }
}