.bodyDesign {
    background-color: $gris;
    @include fondo(7);
    nav {
        width: 100%;
        .navbar-brand img {
            width: 15rem;
        }
        .menuSelec {
            background-color: $gris;
            color: black;
        }
        li {
            margin: 1.4rem;
            a {
                color: $negro;
                font-size: 2rem;
                padding: 0.5rem;
            }
            &:hover {
                background-color: $gris;
            }
        }
    }
    }
.seccion__principalDesign {
    margin-left: 5%;
    h2 {
        color:$negro;
        background-color: $gris;
        height: auto;
        width: fit-content;
        padding: 2rem;  
        margin: 8rem auto; 
        font-size: $h2__xl;
}
.seccion__secundariaDesign {
    text-align: center;
    margin-top: 10%;
    }
}