.seccion__principalDesign h2 {
    color:$negro;
    background-color: $gris;
    height: auto;
    width: fit-content;
    padding: 2%;  
    margin: 10% auto; 
    font-size: $h2__xl;
}
.seccion__secundariaDesign {
    text-align: center;
    margin-top: 10%;
}