.bodyEjercicio {
    background-color: $rosa;
    h3 {
        color: $gris;
        font-size: $h3__xl;
    }
    .boxModeling {
        background-color: $gris;
        height: 13rem;
        width: 70rem;
        padding: 2rem;
        text-align: center;
        margin-top: 5rem;
        margin-left: 3rem;
        margin-bottom: 5rem;
        color: $negro;
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 25px;
    }
    .flexboxSab {
        display: flex;
        justify-content: space-evenly;
        .sab1 img {
            height: 33vh;
        }
        
        .sab2 img {
            height: 33vh;
        }
        
        .sab3 img {
            height: 33vh;
        }
    }
    .grid {
        padding: 1rem;
        display: grid;
        justify-items: center;
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 50rem 50rem;
        gap: 1rem;
        grid-template-areas: 
        "rectUno rectUno cuadUno"
        "cuadDos rectDos rectDos";
        .fotoUno {
            grid-area: cuadUno;
        }
        .fotoDos {
            grid-area: cuadDos;
        }
        .fotoTres {
            grid-area: rectUno;
        }
        .fotoCuatro {
            grid-area: rectDos;
        }
        div img {
            height: 100%;
            width: 100%;
        }
    }
    .footerEjercicio {
        margin: 3rem;
        font-size: 1rem;
        background-color: $rosa;
    }
}


