@media only screen and (max-width: 992px) {
    .bodyIndex {
        .seccion__principalIndex h1 {
            font-size: $h1__xs;
        }
        nav li #nav__link:hover {
            background-color: $negro;
            color: $blanco;
            width: fit-content;
        }
    }
    .bodyAbout {
        .seccion__principalAbout h1 {
            font-size: $h1__xs;
        }
        nav li #nav__link:hover {
            background-color: $negro;
            color: $blanco;
            width: fit-content;
        }
    }
    .bodyArtworks {
        .seccion__principalArtworks h2 {
            font-size: $h1__xs;
        }
        nav li #nav__link:hover {
            background-color: $negro;
            color: $blanco;
            width: fit-content;
        }
        footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2rem;
            color: $negro;
            text-align: center;
            margin: 3rem auto;
            font-size: 1.3rem;
        }
    }
    .bodyDesign {
        .seccion__principalDesign h2 {
            font-size: $h1__xs;
        }
        nav li #nav__link:hover {
            background-color: $negro;
            color: $blanco;
            width: fit-content;
        }
        footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2rem;
            color: $negro;
            text-align: center;
            margin: 3rem auto;
            font-size: 1.3rem;
        }
    }
    .bodyContact {
        .seccion__principalContact h1 {
            font-size: $h1__xs;
        }
        nav li #nav__link:hover {
            background-color: $negro;
            color: $blanco;
            width: fit-content;
        }
        .seccion__secundariaContact {
            font-size: 1.5rem;
            margin-left: 10%;
            margin-right: 10%;
        }
    }

}