@media only screen and (max-width: 768px) {

    .logo__xl {
        display: none;
    }
    
    .logo__xs {
        display: block
    }

    header img {
        margin: 1rem 0 0 0;
    }

    .navegacion li {
        margin: 1rem 0 0 0;
    }
    
    .navegacion li a {
        font-size: 1.1rem; 

    }

    .seccion__principal h1 {
            font-size: $h1__xs; 
    }

    .titulo {
        font-size: 1rem;
    }
    
    h2 {
        color: $negro;
        font-size: $h2__xs;
    }
    
    h3 {
        color: $gris;
        font-size: $h3__xs;
    }

    .boxModeling {
        height: 11rem;
        width: auto;
        padding: auto;
        margin: 1rem auto 1rem auto;
        font-size: 1rem;
        font-weight: 900;
        line-height: 20px;
    }

    .grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas: 
        "rectUno"
        "cuadUno"
        "rectDos" 
        "cuadDos";
    }

    .footerEjercicio {
        font-size: 2rem;
    }


}