@mixin fondo ($bgimg) {
    $url: "../imagenes/fondo#{$bgimg}.png";
    background-image: url($url);
    background-size: $fondo__xl;
    background-repeat: no-repeat;
}

@mixin hi ($color, $backColor) {
    color: $color;
    background-color: $backColor;
    height: auto;
    width: fit-content;
    padding: 2rem;
    margin: 12rem auto auto 3rem;
    font-weight: 700;
    font-size: $h1__xl;
}